.profileMainContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1.25rem;
  width: 100%;

}

.profileSidebarFixed {
  width: 320px;
  flex-shrink: 0;
  position: sticky;
  top: 0rem;
  height: fit-content;
  z-index: 10;
}

.profileContentScrollable {
  flex-grow: 1;
  max-width: 850px;
  width: 100%;
}

.profileContentScrollable>div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

@media (max-width: 1024px) {
  .profileMainContent {
    gap: 1rem;
  }

  .profileSidebarFixed {
    width: 280px;
  }
}

@media (max-width: 768px) {
  .profileMainContent {
    flex-direction: column;
    padding: 0 0 80px;
    gap: 1rem;
  }

  .profileSidebarFixed {
    width: 100%;
    position: static;
  }

  .profileContentScrollable {
    max-width: 100%;
  }
}